<div class="vlc-devise">
  <h1>Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'space-y-4 w-full md:w-1/2'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="vlc-input">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="vlc-input">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="vlc-input">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <%= f.submit "Sign up", class: 'vlc-button primary' %>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
