<%= form_with(model: multitenanted_record, local: true, html: {class: 'space-y-4 w-full md:space-y-8 md:w-2/3'}) do |form| %>
  <% if multitenanted_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(multitenanted_record.errors.count, "error") %> prohibited this multitenanted_record from being saved:</h2>

      <ul>
        <% multitenanted_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="vlc-input">
    <%= form.label :values %>
    <%= form.text_field :values %>
  </div>

  <%= form.submit class: 'vlc-button primary' %>

<% end %>
