<!DOCTYPE html>
<html>
  <head>
    <title>Backend Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="relative">
    <% unless user_signed_in? %>
      <%= render 'components/alert', position: 'body' if flash.any? %>
    <% end %>
    <div class="vlc-wrapper">
      <% if user_signed_in? %>
        <header class="vlc-header-footer">
          <nav class="flex flex-col md:flex-row justify-between items-center text-white w-full m-book-container h-full space-y-4 md:space-y-0 py-4">
            <div >
              <h2>Logo</h2>
            </div>
            <div class="w-full flex md:justify-end space-x-4 md:space-x-6">
              <% if current_user %>
              <%= link_to 'Backend APIs', backends_path %>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
              <% else %>
              <%= link_to 'Log in', new_user_session_path %>
              <% end %>
          </div>
          </nav>
        </header>
      <% end %>

     <main class="vlc-container <%= user_signed_in? ? 'user_signed_in' : 'registration' %>">
       <p id="notice"><%= notice %></p>
       <%= yield %>
     </main>

     <% if user_signed_in? %>
       <footer class="vlc-header-footer relative">
       <%= render 'components/alert', position: 'footer' if flash.any? %>
         <p>Footer here</p>
       </footer>
      <% end %>
    </div>
  </body>
</html>
